# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Secrets
.env
service-account.json

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
